$primaryColor: #e37d69;

p {
  font-size: 12px;
}
.top-bar, .top-bar ul {
  background-color: #eea697;
}
.noCursor {
  cursor: default !important;
}
.menu-text{
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-style: italic;
  color: #fff;
  padding: 0;
  font-size: 25px;
}
body{
  background: url("../../img/bg.jpg") no-repeat fixed;
  background-size: cover;
}
.categoryBar{
  color: #fff;
  display: block;
  margin: 15px 0;

  padding: 10px 0;
  background-color: rgba(255, 255, 255, .55);
  border-left: 3px solid $primaryColor;
  span{
    cursor: pointer;
    padding: 0 15px;
    color: #e37d69;
    font-weight: 600;
  }
}
.centerText{
  text-align: center;
  padding: 5px 0;
}
.homeContainer{
  .queryBtn {
    width: 100%;
    margin-bottom: 15px;
  }
  margin-top: 30px;
  input{
    height: 60px;
    margin: 10px 0;
    font-size: 30px;
    border-radius: 4px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
  }

  .form-group{
    display: inline-block;
    label{
      display: inline-block;
      margin-right: 15px;
      font-weight: 600;
      color: #858585;
    }
    input {
      display: inline-block;
      height: 12px;
      margin: 0;
    }
  }

  button {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 20px;
    font-style: italic;
    width: 100%;
    background-color: $primaryColor;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;

  }
  .results{
    margin-top: 35px;
    background-color: rgba(255, 255, 255, .4);

    .resultsItem{
      margin-top: 30px;
      min-height: 350px;
      img{
        width: 100%;
      }
      .content{
        padding: 10px;
        background-color: #fff;
      }
      h5{
        background-color: $primaryColor;
        padding: 15px;
        color: #fff;
        margin: 0;
        font-size: 14px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }
}