<div class="row homeContainer">

    <input placeholder="search menu" ng-model="query" type="text" />
    <button ng-click="searchQuery(false)" type="button">Search</button>
    <button ng-click="searchQuery(true)" type="button">All Desserts</button>

    <div class="categoryBar">
        <span>Filter:  </span>
        <span ng-click="searchCategory('bread')">Bread</span>|
        <span ng-click="searchCategory('brownie')">Brownies</span>|
        <span ng-click="searchCategory('cookies')">Cookies</span>|
        <span ng-click="searchCategory('cake')">Cakes</span>|
        <span ng-click="searchCategory('candy')">Candy</span>

    </div>
    <div class="results row small-up-1 medium-up-2 large-up-4">
        <div class="resultsItem column" ng-repeat="item in data">
            <h5>{{item.name}}</h5>
            <img ng-src="{{item.image_url}}" />
        </div>
    </div>
</div>